:global(html) {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

:global(body),
:global(#svelte) {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	background-color: $white-hex;
	color: $black-hex;
}

:global(a) {
	color: $black-hex;
	text-decoration: none;
}

:global(*) {
	outline: none;
	font-family: $ff-base;
	margin: 0;
	line-height: 0.75em;
	scroll-behavior: smooth;
	letter-spacing: -0.1em;
	-webkit-tap-highlight-color: transparent;
}

/* width */
:global(::-webkit-scrollbar) {
	width: 7px;
}

/* Track */
:global(::-webkit-scrollbar-track) {
	background: transparent;
}

/* Handle */
:global(::-webkit-scrollbar-thumb) {
	background: $black;
	border-radius: 0.5em;
}

/* Handle on hover */
:global(::-webkit-scrollbar-thumb:hover) {
	background: rgba($black-hex, 0.8);
}

/* --- Visibility --- */

.visibility {
	display: none !important;

	&.sm-down--,
	&.md-down--,
	&.lg-down-- {
		display: flex !important;
	}
}

@media (min-width: $bp-sm) {
	.visibility {
		&.sm-down-- {
			display: none !important;
		}

		&.sm-up--,
		&.md-down--,
		&.lg-down-- {
			display: flex !important;
		}
	}
}

@media (min-width: $bp-md) {
	.visibility {
		&.md-down-- {
			display: none !important;
		}

		&.md-up--,
		&.lg-down-- {
			display: flex !important;
		}
	}
}

@media (min-width: $bp-lg) {
	.visibility {
		&.lg-down-- {
			display: none !important;
		}

		&.lg-up-- {
			display: flex !important;
		}
	}
}

/* --- Container --- */

.container {
	// --parent-mg: 1em;
	display: flex;
	@include container-row;
	@include background;

	--scr-w: 0.24em;
	--scr-tr-a: 0.2;
	--scr-clr: #{$white};
	--scr-th-a: 1;

	/* width */
	&::-webkit-scrollbar {
		width: var(--scr-w);
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: rgba(var(--scr-clr), var(--scr-tr-a));
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgba(var(--scr-clr), var(--scr-th-a));
		border-radius: 0.5em;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: rgba($black-hex, 0.8);
	}

	// don't set parent-mg inside .container (otherwise it'll override, won't work properly), set it in respective .svelte files instead

	&.background-- {
		width: calc(100% - $wrapper-gutter);
		margin-top: calc(var(--parent-mg) * 2);
		margin-left: calc(var(--parent-mg) * 2);

		> div {
			margin-top: calc(var(--parent-mg) * 2);
			margin-left: calc(var(--parent-mg) * 2);
			padding-bottom: calc(var(--parent-mg) * 2);
			padding-right: calc(var(--parent-mg) * 2);
		}
	}

	&.offset-- {
		margin-left: calc(var(--parent-mg) * 2 * 2) !important;

		@media (min-width: $bp-sm) {
			margin-left: calc(var(--parent-mg) * 2 * 2) !important;
		}
	}

	&.stretch-- {
		// width: 100%;
		align-self: stretch;
	}

	&.grow-- {
		flex-grow: 1;
	}

	&.row-sm--,
	&.row-md--,
	&.row-lg--,
	&.row-xl--,
	&.col-- {
		@include container-col;
	}

	&.no-overflow-- {
		overflow: hidden;
	}
}

@media (min-width: $bp-sm) {
	.container {
		&.row-sm-- {
			@include container-row;
		}

		&.col-sm-- {
			@include container-col;
		}
	}
}

@media (min-width: $bp-md) {
	.container {
		&.row-md-- {
			@include container-row;
		}

		&.col-md-- {
			@include container-col;
		}
	}
}

@media (min-width: $bp-lg) {
	.container {
		&.row-lg-- {
			@include container-row;
		}

		&.col-lg-- {
			@include container-col;
		}
	}
}

@media (min-width: $bp-xl) {
	.container {
		&.row-xl-- {
			@include container-row;
		}

		&.col-xl-- {
			@include container-col;
		}
	}
}

/* --- block --- */

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - #{$header-height} - #{$footer-height});
	@include background;

	&.half-- {
		min-height: calc(50vh - #{$header-height} - #{$footer-height});
	}
}

// ---- Link

.link {
	&:hover {
		text-decoration: underline;
	}

	// @include clickable;
}

// party

.party-container {
	padding: 2em $wrapper-gutter;

	&.landing-- {
		background-color: #f9be65;
	}

	&.redeem-- {
		background-color: #e38858;
	}
}

.party {
	width: 100%;
	max-width: 400px;

	* {
		font-family: $ff-party;
		letter-spacing: -0.04em;
		color: $white-hex;
		line-height: 1.1em;
	}
}

.party-title {
	font-size: 1.5em;
	font-weight: bold;
}

.party-description {
	opacity: 0.5;
	font-size: 0.7em;
	padding-top: 0.2em;
}

.party-back {
	font-size: 1em;
	font-weight: bold;
	opacity: 0.5;
	@include swish;
	margin-bottom: 1.2em;

	&:hover {
		opacity: 0.8;
	}
}

.party-textbox {
	background-color: rgba($white-hex, 0.1);
	border: 2px solid rgba($white-hex, 0.5);
	color: $white-hex;
	padding: 0.6em 0.8em;

	&::placeholder {
		color: rgba($white-hex, 0.5);
	}
}

.party-button {
	background-color: rgba($white-hex, 0.05);
	border: 2px solid rgba($white-hex, 0.2);
	padding: 0.5em;
	padding-bottom: 0.4em;
	cursor: pointer;
	@include swish;

	&.main-- {
		background-color: rgba($white-hex, 0.2);
	}

	> div {
		font-weight: bold;
		font-size: 0.7em;
		text-transform: uppercase;
	}

	&:hover {
		opacity: 0.8;
	}
}
