
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;600&display=swap');

@font-face {
	font-family: 'Jost';
	src: url('/fonts/Jost/Jost-Medium.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Jost';
	src: url('/fonts/Jost/Jost-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Barndomsfirkante';
	src: url('/fonts/Barndomsfirkante.ttf') format('truetype');
}

$white-hex: #fff;
$white: 255, 255, 255;
$black-hex: #000000;
$black: 0, 0, 0;
$wrapper-gutter: 20px;
$wrapper-width: 1200px;

$me-black: #090909;
$me-white: #f8cfd9;

$bp-sm: 640px;
$bp-md: 800px;
$bp-lg: 1024px;
$bp-xl: 1280px;

$ff-base: 'Corben';
$ff-alpha: 'Corben';
$ff-style: 'Corben';

$header-height: 76px;
$footer-height: 76px;

$white-box-shadow: 0 0 50px -20px rgba($white-hex, 0.2);
$white-drop-shadow: 0 0 50px rgba($white-hex, 0.2);
$box-shadow: 0 0 30px -5px rgba($black-hex, 0.2);
$drop-shadow: 0 0 50px rgba($black-hex, 0.2);
$white-box-shadow-heavy: 0 0 100px 10px rgba($white-hex, 0.8);
$box-shadow-heavy: 0 0 100px 10px rgba($black-hex, 0.8);
